Flask==1.1.1
beautifulsoup4==4.8.2
imutils==0.5.3
json5==0.8.5
jsonify==0.5
mechanize==0.4.5
numpy==1.22.0
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
Werkzeug==1.0.0
opencv_python

