<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Fredoka+One|PT+Mono|Tomorrow&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/main.css') }}" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <title>I AM THEREFORE I AM</title>

  </head>

  <body>

    <div class="container">

      <div class="row">
              <h1>EXPLORE YOUR DATA IDENTITY</h1>
      </div>

    <br><br>

      <div class="container">

        <div class="col-md-2 mb-3">
          <button id= "dataButton" type="submit" class="btn btn-primary">GET MORE DATA!!</button>
        </div>
      </div>

    <br><br>

      <div class="container">
        <img src="{{ url_for('video_feed') }}">
      </div>

  </div>

      <br><br>


  </body>

  <script>

  $(document).ready(function() {


    $("#dataButton").click(function(){

      var action = "sample";
      var jqda = $.post( "/sample",
      {"action" : action},

      function() {
      });

  })

  });
  </script>

</html>
